* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.admin-card {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.student-button {
  padding: 10px;
  font-size: 25px;
  font-weight: bold;
  border: none;
  border-bottom: 2px solid yellowgreen;
  text-decoration: none !important;
}

.teacher-button {
  padding: 10px;
  font-size: 25px;
  font-weight: bold;
  border: none;
  border-bottom: 2px solid tomato;
  margin-right: 5px;
  text-decoration: none !important;
}

.teacher-button:hover {
  border: 2px solid tomato;
  border-radius: 5px;
}
.student-button:hover {
  border: 2px solid yellowgreen;
  border-radius: 5px;
}
.student-Table {
  margin-top: 55px;
}
.student-create {
  border: none;
  border-bottom: 2px solid violet;
  text-decoration: none;
  font-size: 20px;
  padding: 5px;
  color: black;
}
.student-create:hover {
  border-radius: 5px;
  border: 2px solid violet;
}
.create-back-submit {
  margin-top: 28px;
}
